POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
REFRESH_TOKEN_DURATION=
ENVIRONMENT=
DOMAIN=
GRPC_SERVER_PORT=
TOKEN_SYMMETRIC_KEY=
HTTP_SERVER_PORT=
ACCESS_TOKEN_DURATION=
SENDINBLUE_API_KEY=
